/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: auto;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: #E1AD01; */
  background-color: #354F52;
  text-align: center;
}

.navHeader {
  margin-left: 1rem;
  margin-bottom: 0.1rem;
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 2;
}

.navBar a {
  margin-top: 2.9rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  min-width: 2%;
  flex-grow: 1;
}

.navBarHeading {
  margin-top: 1.5rem;
  margin-bottom: -0.9rem;
  font-size: 2.8rem;
}

.navBar a:hover {
  /* color: #646cff; */
  color: black;
  opacity: 0.6;
  transition: 0.5s;

}

#home {
  background-image: url(../aboutGroup.jpeg);
  background-size: cover;
  background-position: center;
  height: 50rem;
  width: auto;
}

.homeContainer section {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  width: 100%;
}

.homeContainer .collapsible {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 100%;
  padding: 10% 0 10% 0;
  /* background-color: #CAD2C5; */
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

.homeContainer .collapsible:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s;
}

.homeContainer span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 100%;
  /* background-color: #CAD2C5; */
  color: gray;
  font-size: 3rem;
  text-transform: uppercase;
}

.homeContainer span:hover {
  cursor: pointer;
  transition: 0.5s;
  color: black;
}

/* .homeContainer section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 100%;
  padding: 10% 0 10% 0;
  background-color: #CAD2C5;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

.homeContainer section h2:hover {
  color: black;
  opacity: 0.6;
  transition: 0.5s;
} */

.homeContainer section p {
  width: 100%;
  color: black;
  text-align: center;
  font-size: 1.5rem;
}


.aboutContainer section {
  margin-bottom: 20%;
}

.aboutContainer h3 {
  text-transform: uppercase;
}

.aboutHeader {
  margin-top: 9%;
  background-image: url(../group.jpg);
  background-size: cover;
  background-position: center;
  height: 50rem;
  width: auto;
  display: flex;
  justify-content: center;
}

.historyHeader {
  margin-top: 8rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
}

.leftText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 5%;
  width: 90%;
}

.leftText h3 {
  margin-right: 40%;
}

.rightText {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 5%;
  width: 90%;
}

.rightText h3 {
  margin-left: 40%;
}

/* .doText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 5%;
  width: 90%;
}

.doText h3 {
  margin-right: 40%;
} */

h3 {
  color: black;
  flex-grow: 1;
}

h3+p {
  color: black;
  width: 50%;
  flex-grow: 2;
}

footer {
  display: flex;
  justify-content: center;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  /* background-color: white; */
  background-color: #2F3E46;
}

footer a {
  margin: 1rem;
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: #646cff;
}

@media only screen and (max-width: 768px) {
  .navBar {
    flex-direction: column;
  }

  .navBar a {
    margin-top: 0rem;
  }

  .navHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}